<p id="notice"><%= notice %></p>
<%= pie_chart Contract.group(:client_name).count %>
	
<h1>Contract</h1>

<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Client Address</th>
      <th>Service Fees</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @contracts.client_name %></td>
        <td><%= @contracts.client_address %></td>
        <td><%= @contracts.service_fee %></td>        
      </tr>
  </tbody>
</table>

<br>

<%#= link_to 'New Contract', new_order_path %>
<%#= link_to 'Download', contract_document_path(@contracts), target: '_blank' %>
<%= link_to 'Download', download_path(@contracts), target: '_blank' %>

<!-- 

  get 'download', action: :download, controller: 'contract_documents'
 -->

 <%= link_to "PDF", contract_documents_path(format: :pdf), class: 'btn btn-primary' %>
